@import 'variables.scss';

body {
  background-color: $background-color-default;
  color: $text-color;
}

.button-primary {
  background-color: $color-primary;
  color: $text-color-inverse;
  border-radius: $border-radius;
}